:root {
	--c-background: #191919;
	--c-primary: #d43b76;
	--c-text: #eee;
}

html {
	background: var(--c-background);
	color: var(--c-text);
	font:
		400 16px / var(--l-spacing-xl) 'ubuntu',
		sans-serif;
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
}

p {
	margin: 0;
}

p + p {
	margin-top: var(--l-spacing);
}

a {
	color: var(--c-text);
	transition: color 0.2s ease-out;

	&:hover {
		color: var(--c-primary);
	}
}
