.outer {
	display: flex;
	justify-content: center;
}

.inner {
	max-width: 40rem;
	margin: 150px 0 0;
	padding: var(--l-spacing);
	text-align: center;
}

.title {
	margin: 0;
	color: var(--c-grey-700);
	font-size: 24px;
	letter-spacing: -0.08em;
	text-transform: uppercase;

	span {
		color: var(--c-grey-600);
	}
}

.message {
	margin: var(--l-spacing-m) 0 0;
	color: var(--c-grey-700);
	font-size: 12px;
}
