.node {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	border: 1px solid #333;
	background: #161616 no-repeat center / contain;
}

.icon {
	display: block;
	width: 100%;
}

.positioned {
	position: absolute;
	z-index: 2;

	&::before {
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		border: 2px solid #ccc;
		opacity: 0;
		transition:
			border-color 0.2s ease-out,
			opacity 0.2s ease-out;
	}

	.icon {
		filter: grayscale(1);
		opacity: 0.75;
		transition:
			filter 0.2s ease-out,
			opacity 0.2s ease-out;
	}
}

.effect {
	border-radius: 50%;

	&::before {
		border-radius: 50%;
	}

	.icon {
		border-radius: 50%;
	}
}

.isActive {
	.icon {
		filter: grayscale(0);
		opacity: 1;
	}
}

.isSelected {
	&::before {
		opacity: 1;
	}
}

.isInvalid {
	&::before {
		border-color: red;
		filter: grayscale(0);
	}
}
