.node {
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid #333;
	background: #161616 no-repeat center / contain;
}

.effect {
	border-radius: 50%;
}

.positioned {
	position: absolute;
	z-index: 2;
}
