.planner {
	display: flex;
	justify-content: center;
	gap: 60px;
	position: relative;
	width: 1200px;
	height: 792px;
	margin: 0 auto;
	background: transparent no-repeat center / cover;
	border: 1px solid #333;
}

.treeContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tree {
	position: relative;
}

.connectors {
	position: absolute;
	z-index: 1;
}

.autoGranted {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	padding: 0 10px;
}
